Source: ros-lunar-turtlesim
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), qt5-qmake, qtbase5-dev, ros-lunar-catkin, ros-lunar-geometry-msgs, ros-lunar-message-generation, ros-lunar-rosconsole, ros-lunar-roscpp, ros-lunar-roscpp-serialization, ros-lunar-roslib, ros-lunar-rostime, ros-lunar-std-msgs, ros-lunar-std-srvs
Homepage: http://www.ros.org/wiki/turtlesim
Standards-Version: 3.9.2

Package: ros-lunar-turtlesim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, ros-lunar-geometry-msgs, ros-lunar-message-runtime, ros-lunar-rosconsole, ros-lunar-roscpp, ros-lunar-roscpp-serialization, ros-lunar-roslib, ros-lunar-rostime, ros-lunar-std-msgs, ros-lunar-std-srvs
Description: turtlesim is a tool made for teaching ROS and ROS packages.
